GLFW_ICON ICON "cool_project.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"     // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      VALUE "CompanyName", "Ramon Santamaria"
      VALUE "FileDescription", "Cool Project | A very cool project game"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "cool_project"
      VALUE "LegalCopyright", "(c) 2026 Ramon Santamaria"
      //VALUE "OriginalFilename", "cool_project.exe"
      VALUE "ProductName", "Cool Project"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252    // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
